
<div class="body-container">
  <header class="header">
      <img src="#" alt="Logo">
      <i class='bx bx-menu' id="menu-icon" (click)="toggleMenu()"></i>
      <nav class="navbar" [ngClass]="{'active': isActive}">
          <a routerLink="home" routerLinkActive="active">Home</a>
          <a routerLink="dashboard" routerLinkActive="active">Dashboard</a>
          <a routerLink="product" routerLinkActive="active">Product</a>
          <a routerLink="login" routerLinkActive="active">Login</a>
          <a routerLink="signUp" routerLinkActive="active">Sign Up</a>
          <a routerLink="about" routerLinkActive="active">About</a>
      </nav>
  </header>

 





<router-outlet></router-outlet>